
:root {

}

html, body {
    height: 100%;
    overflow-x: hidden;
}

a {
    color: rgb(37, 146, 146);
}

body {
    background-image: url('./images-marco/jesse-orrico-L94dWXNKwrY-unsplash.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.page-wrap {

    /* background-color: black; */
    z-index: 1;
    animation: bg-trans 3s forwards;

    display: grid;
    justify-content: center;

    color: rgb(204, 140, 20);
    text-shadow: 1px 1px 1px black
}

@keyframes bg-trans {
    from {
        background-color: rgb(0, 0, 0, 1);
    }

    to {
        background-color: rgb(0, 0, 0, 0);
    }
}

.title {
    font-size: 2.1em;
    color: antiquewhite;
    /* font-weight: 700; */
    text-decoration: underline;

}

.header {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1.5vw;
    /* background-color: rgb(240, 248, 255); */
    animation: head-bg-trans 2s forwards;
    text-align: center;
    width: 90vw;
    border-radius: 20px;
    justify-self: center;
    border: 1px solid white;
    
    letter-spacing: 1px;

    /* display: grid; */
    /* flex-direction: column; */
    /* align-content: center; */

}

@keyframes head-bg-trans {
    from {
        background-color: rgb(240, 248, 255, 0);
    }

    50% {
        background-color: rgb(240, 248, 255, 0);
    }

    to {
        background-color: rgb(53, 97, 138, 0.9);
    }
}

.intro-text {
    display: flex;
    flex-direction: column;

}

.byline {
}

.licenses {
}

.slide-left-center {
    animation: slide-left 1s forwards;
}

.slide-left-center-2 {
    animation: slide-left 1.3s forwards;
}

.slide-left-center-3 {
    animation: slide-left 1.7s forwards;
}

@keyframes slide-left {
    from {
        transform: translateX(-100%);      
    }
    
    50% {
        /* transform: translateY(-350%);    */
    }
    
    to {
        transform: translateX(0%);
    }
}

.contact {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(53, 97, 138, 0.9);
    padding: 2vh;
    align-self: center;
    width: fit-content;
    text-align: start;

}

img {
    width: 60vw;
    height: auto;
    border: 2px solid white;   
    border-radius: 10px; 
    box-shadow: 7px 7px 8px black;
}

.no-bullets {
    padding: 0;
    list-style: none;
}

.feed>ul {
    display: grid;
    justify-items: center;
    /* align-content: center;   */
    gap: 10vh;
}

.feed-item-desc {
    animation: head-bg-trans 2s forwards;
    /* height: 5vh; */
    padding: 1vh;
    text-align: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid white;
    margin: 2vh;
}

.feed-item {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 85vw;
}

.footer {

    
    text-align: center;
    width: fit-content;
    justify-self: center;
    border-radius: 10px;
    margin: 1vh;

}
@media (min-width: 500px) {

    body {
        font-size: calc(20px + 0.3vw);
    }

    .header {
        width: 50vw;
    }

    img {
        width: 30vw
    }

    .feed-item {
        width: 60vw;
    }

    .contact {
        /* display: grid; */
        
    }

}